*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #222;
    color: #fff;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 5px 0;
    border-radius: 5px;
}
input:focus{
    background-color: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background-color: #a00d02;
    padding: 5px 2px;
    border-radius: 5px;
}
#total::before{
    content: 'Total: ';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    background-color: #36027a;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.5s;
}
button:hover{
    background-color: #580eb8;
    letter-spacing: 1px;
}
.btn-search{
    display: flex;
    justify-content: space-between;
}
.btn-search button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}